<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/disim/cacher/chains/Chains"
			class = "org.xtext.disim.cacher.chains.chains.ChainsPackage"
			genModel = "model/generated/Chains.genmodel" />
	</extension>
</plugin>
